* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial, sans-serif';
}

@font-face {
  font-family: 'AfacadFlux';
  src: url(fonts/AfacadFlux-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-Medium.ttf);
}

/* --------------------- NavBar --------------------- */

.navbarCon {
  width: 100%;
  background-color: #0A2351; 
  display: flex;
  justify-content: center;
}

/* Navbar container */
.navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo styling */
.logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'AfacadFlux';
}

/* Navbar links container */
.nav-links {
  display: flex;
  align-items: center;
}

/* Individual navbar links */
.nav-link {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: 'AfacadFlux';
}

.nav-link:hover {
  color: #0E4F7E; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Search bar styling */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 2px;
  font-size: 14px;
  width: 180px;
}

.search-bar i {
  margin-left: 5px;
  color: #888;
  font-size: 16px;
  font-family: 'AfacadFlux';
}

/*--------------------- carousel ---------------------*/
.carousel-slide {
  display: flex;
  margin-top: 10px;
 
}

.carousel-slide img {
  margin: 0 auto;
  width: 99%;
  max-width: 1440px;
}

/* --------------------- Home page --------------------- */

/* display category */

.displayCata {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.displayCata img{
  cursor: pointer;
  max-width: 80%;
  height: auto;
}

/* middle banner */

.midBannerCat {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 79px;
}

.midBannerCat img {
  max-width: 80%;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.midBannerCat:hover img {
  transform: scale(1.05); /* Zoom effect on hover */
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 9.2%; 
  width: 82%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.midBannerCat:hover .bannerOverlay {
  opacity: 1; 
}

.bannerOverlay button {
  padding: 8px 15px;
  background-color: #0A2351; 
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'AfacadFlux';
  transition: background-color 0.3s ease;
}

.bannerOverlay button:hover {
  background-color: #d00; 
}

/* Item Carousel */

.itemCarouselHead {
  font-size: 25px;
  margin: 60px 0 50px 0;
  text-align: left;
  margin-left: 55px;
  font-family: 'Poppins';
  text-decoration: underline;
}

.itemCarouselDescription h4 {
  font-size: 19px;
  margin-top: 20px;
  font-family: 'Poppins';
  transition: color 0.3s ease;
}

.itemCarouselDescription h4:hover {
  color: #0E4F7E;
}

.itemCarouselDescription h6 {
  font-size: 16.5px;
  font-family: 'AfacadFlux';
}

.itemCarouselDescription h6:nth-of-type(1) {
  margin: 8px 0 8px 0;
  color: #808080;
}

.itemCarouselDescription h6:nth-of-type(2) {
  margin-bottom: 10px;
  font-size: 19px;
}

.itemCarouselContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.addCartBtn {
  background-color: #0A2351;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-family: 'AfacadFlux';
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.addCartBtn:hover {
  background-color: #0E4F7E;
  transform: scale(1.05);
}

/* --------------------- footer --------------------- */

.footer {
  background-color: #0A2351;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: -10%;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-family: 'Poppins';
}

.footer-section p {
  margin: 5px 0;
  font-family: 'AfacadFlux';
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
  font-family: 'AfacadFlux';
}

.social-icons a:hover {
  color: black; 
}

/*--------------------- responsive ---------------------*/

/* Media query for screen sizes below 1200px */
@media (max-width: 1200px) {

  /* display category */
  .displayCata {
    justify-content: center;
  }
}

/* Media query for screen sizes below 768px */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin: 0 auto;
    margin-top: 5px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-link {
    margin: 10px 0;
  }

  .dropdown-content {
    position: relative;
    width: 100%;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .search-bar input {
    width: 100%;
  }

  /* display category */
  .displayCata {
    justify-content: center;
  }

  .displayCata img {
    max-width: 35%; 
    margin-bottom: 15px;
  }

  /* Item Carousel */
  .itemCarouselHead{
    text-align: center;
    margin-left: 0px;
  }

}

/* Media query for screen sizes below 480px */
@media (max-width: 480px) {

  /* carousel */
  .carousel-slide{
    margin-top: 10px;
  }

  .carousel-slide img {
    max-width: 100%;
  }

  /* display category */
  .displayCata {
    margin-top: 40px;
  }

  .displayCata img {
    max-width: 31%;
  }

  /* middle banner */
  .midBannerCat {
    margin-top: 50px; /* Adjust margin for mobile */
  }

  .midBannerCat img {
    max-width: 100%; /* Ensure the image takes full width */
    padding: 0 10px; /* Add some padding for spacing */
  }

  /* items carousel */
  .itemCarouselHead {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .itemCarImg{
    max-width: 150px;
  }

}