* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial, sans-serif';
}

@font-face {
  font-family: 'AfacadFlux';
  src: url(fonts/AfacadFlux-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-Medium.ttf);
}

/* --------------------- NavBar --------------------- */

/* Base Navbar Container */
.navbarCon {
  width: 100%;
  background-color: #0A2351;
  display: flex;
  justify-content: center;
}

/* Navbar Container */
.navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo styling */
.logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'AfacadFlux';
}

/* Desktop Navigation */
.desktop-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: 'AfacadFlux';
}

.nav-link:hover {
  color: #0E4F7E;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'AfacadFlux';
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 2px;
  font-size: 14px;
  width: 210px;
}

/* Mobile Menu Icon */
.mobile-menu-icon {
  display: none;
}

/* Mobile Navigation */
.mobile-nav {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-nav .nav-link {
  color: #0A2351;
  font-size: 20px;
  text-decoration: none;
  font-family: 'AfacadFlux';
}

.close-menu-btn {
  align-self: flex-end;
  color: black;
}

/*--------------------- carousel ---------------------*/
.carousel-slide {
  display: flex;
  margin-top: 10px;
 
}

.carousel-slide img {
  margin: 0 auto;
  width: 99%;
  max-width: 1440px;
}

/* --------------------- Home page --------------------- */

/* display category */

.displayCata {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.displayCata img{
  cursor: pointer;
  max-width: 80%;
  height: auto;
}

/* middle banner */

.midBannerCat, .newArrivalBan {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 79px;
}

.newArrivalBan{
  margin-top: 40px;
}

.midBannerCat img, .newArrivalBan img {
  max-width: 80%;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.midBannerCat:hover img {
  transform: scale(1.05); /* Zoom effect on hover */
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 9.2%; 
  width: 82%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.midBannerCat:hover .bannerOverlay {
  opacity: 1; 
}

.bannerOverlay button {
  padding: 8px 15px;
  background-color: #0A2351; 
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'AfacadFlux';
  transition: background-color 0.3s ease;
}

.bannerOverlay button:hover {
  background-color: #d00; 
}

/* Item Carousel */

.itemCarouselHead {
  font-size: 25px;
  margin: 60px 0 50px 0;
  text-align: left;
  margin-left: 55px;
  font-family: 'Poppins';
  text-decoration: underline;
}

.itemCarouselDescription h4 {
  font-size: 19px;
  margin-top: 20px;
  font-family: 'Poppins';
  transition: color 0.3s ease;
}

.itemCarouselDescription h4:hover {
  color: #0E4F7E;
  cursor: pointer;
}

.itemCarouselDescription h6 {
  font-size: 16.5px;
  font-family: 'AfacadFlux';
}

.itemCarouselDescription h6:nth-of-type(1) {
  margin: 8px 0 8px 0;
  color: #808080;
}

.itemCarouselDescription h6:nth-of-type(2) {
  margin-bottom: 10px;
  font-size: 19px;
}

.itemCarouselContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.addCartBtn {
  background-color: #0A2351;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-family: 'AfacadFlux';
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.addCartBtn:hover {
  background-color: #0E4F7E;
  transform: scale(1.05);
}

/* middle banner 2 */

.middleBanner2 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 30px; 
  padding: 0 20px; 
}

.middleBanner2 img {
  width: 100%;
  max-width: 600px; 
  height: auto;
  cursor: pointer;
}

/* --------------------- footer --------------------- */

.footer {
  background-color: #0A2351;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: -10%;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-family: 'Poppins';
}

.footer-section p {
  margin: 5px 0;
  font-family: 'AfacadFlux';
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
  font-family: 'AfacadFlux';
}

.social-icons a:hover {
  color: black; 
}

/* --------------------- Product page --------------------- */

.productHeader{
  font-family: 'Poppins';
  margin-top: 30px;
}

.product-page {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
}

.filter-section {
  width: 290px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filter-section h2{
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'AfacadFlux';
}

.filter-section input,
.filter-section select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  font-family: 'Poppins';
  font-size: 13px;
}

.price-filter h4, .color-filter h4, .filter-head{
  font-family: 'AfacadFlux';
  font-size: 17px;
  margin-bottom: 5px;
}

.product-list {
  width: 79%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-left: 20px;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
  width: 245px;
  height: 417px;
  margin: 0 auto;
  margin-bottom: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-family: 'AfacadFlux';
}

.product-card p {
  color: #777;
  font-size: 12px;
  margin: 10px 0;
  flex-grow: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
}

.product-card p:nth-of-type(2) {
  font-size: 16.5px;
  font-weight: bold;
  margin-top: 15px;
  font-family: 'AfacadFlux';
  color: black;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.addCartBtn2 {
  background-color: #0A2351;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-family: 'AfacadFlux';
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.addCartBtn2:hover {
  background-color: #0E4F7E;
  transform: scale(1.05);
}

/*--------------------- responsive ---------------------*/

/* Media query for screen sizes below 1200px */
@media (max-width: 1258px) {

  /* display category */
  .displayCata {
    justify-content: center;
  }

 /* mid banner 2 */
 .middleBanner2 {
    flex-direction: column;
    gap: 20px;
  }

  .middleBanner2 img{
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
  }
}

@media (max-width: 871px) {

  /* ------------- product page ------ */

  .content {
    flex-direction: column;
  }

  .filter-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .product-list {
    width: 100%;
    margin-left: 0;
  }

}

@media (max-width: 781px) {
  /* nav bar */
  .desktop-nav {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
}

/* Media query for screen sizes below 768px */
@media (max-width: 768px) {

  /* display category */
  .displayCata {
    justify-content: center;
  }

  .displayCata img {
    max-width: 35%; 
    margin-bottom: 15px;
  }

  /* Item Carousel */
  .itemCarouselHead{
    text-align: center;
    margin-left: 0px;
  }

}

/* Media query for screen sizes below 480px */
@media (max-width: 481px) {

  /* carousel */
  .carousel-slide{
    margin-top: 10px;
  }

  .carousel-slide img {
    max-width: 100%;
  }

  /* display category */
  .displayCata {
    margin-top: 40px;
  }

  .displayCata img {
    max-width: 31%;
  }

  /* middle banner */
  .midBannerCat {
    margin-top: 50px;
  }

  .midBannerCat img {
    max-width: 100%; 
    padding: 0 10px;
  }

  /* items carousel */
  .itemCarouselHead {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .itemCarImg{
    max-width: 150px;
  }

  /* middle banner */
  .middleBanner2{
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .middleBanner2 img {
    max-width: 100%;
  }

   /* ------------- product page ------ */  
  .product-list {
    grid-template-columns: repeat(2, 1fr); 
    width: 109%;
    margin-left: -19px;
  }

  .product-card {
    width: 100%; 
    margin: 0px;
    margin-top: 35px;
    height: 375px;
  }

  .product-card:hover {
    box-shadow: none;
  }
  
}